<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>813595812546-cqs18p144sa8kms1f9ni51dl9fb8vkg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.813595812546-cqs18p144sa8kms1f9ni51dl9fb8vkg0</string>
	<key>API_KEY</key>
	<string>AIzaSyDQwGxfrGagf_FWdp6UrICv9oqPjIa6Dwg</string>
	<key>GCM_SENDER_ID</key>
	<string>813595812546</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.faceRecognitionAttendanceApp</string>
	<key>PROJECT_ID</key>
	<string>facerecognition-c5376</string>
	<key>STORAGE_BUCKET</key>
	<string>facerecognition-c5376.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:813595812546:ios:76f8a1ca9608f9d6b1d15b</string>
</dict>
</plist>